<div>
    <div class="header">
        <a href="/" class="logo nuxt-link-exact-active nuxt-link-active">
            <img src="/_nuxt/img/ffab9fa.svg" alt="55海淘">
        </a>
         <a href="/" class="text_tab actived nuxt-link-active">
            优惠
        </a> 
        <a href="/store/" class="text_tab">
            商家
        </a>
         <a href="/show/" class="text_tab">
            社区
        </a>
        <div class="text_tab"><img src="/_nuxt/img/476a322.svg" alt="搜索">
        </div>
            <a href="/my/login.html?jump=%2F" class="">
                <img src="/_nuxt/img/2f10504.svg" alt="个人中心">
            </a>
        </div>
    <div class="header--sitg"></div>
</div>